<div style="text-align:center">
  <header>
    <h1 class="text-center">Pic List</h1>
  </header>
  <div class="container">
    <div class="row">
      <a [routerLink]="['cadastro']" class="btn btn-primary">Cadastro</a>
    </div>
    <div class="row">
      <panel class="col-md-2" *ngFor="let photo of photoList;" titulo={{photo._id}}>
          <a [routerLink]="['cadastro/, photo._id']">
            <photo url="{{photo.url}}" titulo="{{photo.titulo}}"></photo>
          </a>
          <button (click)="excluir(photo);" class="btn btn-danger">Remover</button>
      </panel>
    </div>
  </div>
</div>