<div style="text-align:center">
  <header>
    <h1 class="text-center">Pic List</h1>
  </header>
  <section class="container">
    <div class="row">
      <p *ngIf="mensagem" class="{{classe}}"> {{mensagem}}</p>
      <form [formGroup]="formCadastro" class="col-sm-6" (submit)="salvar($event)">              
        <div class="form-group">
          <label for="">Titulo</label>
          <input
            formControlName="titulo" 
            [(ngModel)]="photo.titulo" name="titulo" type="text" class="form-control">         
            <span *ngIf="formCadastro.controls.titulo.errors">
              <span 
                *ngIf="formCadastro.controls.titulo.errors.required && formCadastro.controls.titulo.dirty" 
                class="form-control alert-danger">
                  Campo obrigatorio
              </span>
              <span *ngIf="formCadastro.controls.titulo.errors.minlength" class="form-control alert-danger">
                Minimo três campos
              </span>
          </span>
          </div>

        <div class="form-group">
          <label for="">Url</label>
          <input 
          formControlName="url"
          [(ngModel)]="photo.url" name="url" type="text" class="form-control">
        </div>

        <div class="form-group">
          <label for="">Descrição</label>
          <textarea 
          formControlName="descricao"
          [(ngModel)]="photo.descricao" name="descricao" type="text" class="form-control"></textarea>
        </div>

        <a class="btn btn-primary" [routerLink]="['']">Voltar</a>
        <button [disabled]="formCadastro.invalid" type="submit" class="btn btn-default">Salvar</button>
      </form>
      <aside class="col-sm-4">
        <panel class="col-md-2" titulo={{photo.titulo}}>
          <photo url="{{photo.url}}" titulo="{{photo.titulo}}">
            {{photo.descricao}}
          </photo>
      </panel>
      </aside>
    </div>
  </section>
</div>