<html>
    <head>
        <title><%= pagina %></title>
    </head>
    <body>
        <h1><%=pagina%></h1>
        <ul>
        <% for (let produto of produtos) {%>
            <li><%= produto.item %></li>
        <%}%>
        </ul>
    </body>
</html>